.form-type-radios figure {
  display: inline-block;
  margin-top: 20px;
  width: 50%;
  padding-left: 10%;
  padding-right: 10%;
}

.tag-admin-container {
  border: 1px solid #dfdfdf;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 48%;
}

.tag-admin-container * {
  display: block;
  width: 100%;
  text-align: center;
}

figcaption {
  text-align: center;
}
label figure {
  display: inline-block;
  width: 50%;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 20px;
  text-align: center;
}
#landing-buttons {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
#edit-tree-accession figure {
  width: 100%;
}
div#autocomplete {
  width: max-content !important;
}
table {
  border: 1px solid #b5e0ba;
  background: #ffffff;
  width: 100%;
}
thead th {
  background: #ffffff;
  border-top: 0px solid #000000 !important;
  padding: 10px;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
tbody tr td {
  padding: 3px;
  border-top: 1px solid #dedede;
}
th > div.form-type-select > .ajax-progress {
  display: none;
}
.form-item > label {
  display: inline-block;
}
.form-type-textfield,
.form-type-select,
.form-managed-file,
.form-type-checkbox,
.form-type-radios {
  text-align: right;
}
.form-item {
  margin-bottom: 5px;
}
.form-type-managed-file,
.form-type-radios {
  border-top: 1px solid #b5e0ba;
  border-bottom: 1px solid #b5e0ba;
}
.form-type-managed-file {
  padding: 10px 20px 0px;
}
.form-managed-file {
  text-align: right;
}
.form-managed-file > fieldset {
  margin-top: 20px;
  margin-bottom: 10px;
}
.hide-me {
  display: none !important;
}
.tag {
  display: inline-flex;
  border: 1px solid;
  border-radius: 0.75rem;
  margin-top: 4px;
  margin-right: 4px;
}
#tpps-tags-filter {
  margin-bottom: .5rem;
}
#tpps-tags-filter > .tag:hover {
  cursor: pointer;
}
.tag-text {
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
}
.tag-close {
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .125rem;
}
.tag-close:hover {
  cursor: pointer;
}
.add-tag:hover {
  cursor: pointer;
}
#tpps_table_display,
.tpps_table {
  background: #ffffff;
  border: 1px solid #b5e0ba;
  border-radius: 4px;
  padding: 0px 10px;
  margin-bottom: 20px;
}
#tpps_table_display td,
.tpps_table td {
  padding: 10px;
}
table.sticky-title caption {
  display: none;
}
#tpps-details-form {
  margin: 10px 0px;
}
#tpps-details-form > div {
  display: inline-block;
}
#tpps-main input.btn {
  margin-top: 5px;
}

div.media-widget.form-media a.browse {
  background-color: #e2b448;
    border-radius: 3px;
    font-size: 14px;
    color: white;
    padding: 10px 15px;
}
/* [VS] */

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: * /
/* Start of TPPS Status Bar */
.tgdr_form_status div {
  display: inline-block;
  padding: 3px;
  margin-right: 10px;
}
.tgdr_form_status div img {
  vertical-align: middle;
  margin-bottom: 4px;
  margin-right: 2px;
}
.tgdr_form_status {
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-bottom: 10px;
}
.btn-primary[name=op]{
  margin: 10px 10px 10px 0px;
}
a.fieldset-title {
  display: contents;
}
/* End of TPPS Status Bar */

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* Highlight active button when using TAB key to switch. */
.form-submit:focus:focus-visible,
.form-primary:focus:focus-visible,
.form-button:focus:focus-visible,
.btn:focus:focus-visible {
  outline: black solid 2px;
}
/* Highlight disabled form fields */
form input:disabled {
  background: silver;
}
/**
 * Make visible all options of dropdown when multiple options enabled.
 * @TODO This must be done for all site pages.
 **/
select#edit-accession,
select.form-select {
  max-width: 100%;
  width: auto;
  height: auto;
  min-height: 28px;
}
a.fieldset-title {
  display: contents;
}
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* Navigation bar */
.tppsc-form .navigation-bar {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 20px;
  display: inline-block;
  float: both;
}
.tppsc-form .navigation-bar .stage {
  margin: 0 2%;
  /*white-space: nowrap;*/
  float: left;
  display: inline-block;
  font-size: 16px;
  min-width: 15%;
  max-width: 15%;
  min-height: 60px;
}
.tppsc-form .navigation-bar .stage.complete {
  font-style: normal;
}
.tppsc-form .navigation-bar .stage.current {
  font-weight: bold;
  /* very bright gray, almost white */
  color: #ddd;
}
.tppsc-form .navigation-bar .stage.incomplete {
  font-style: italic;
}
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* Round error/status/warning messages */
form div.error,
form div.status,
form div.warning {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #bebebe;
  margin: 2px 0;
  padding: 2px 10px;
}
/* Autocomplete dropdown list */
#autocomplete {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #bebebe;
  padding: 4px;
  background: white;
}
#autocomplete li {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 2px;
}
#autocomplete li:hover {
  background: silver;
}
select option:selected {
  background: silver;
}
.tpps-hidden {
  display: none;
}
/* Overwrite css injector */
form .fieldset-title {
  text-transform: none !important;
}
/* [/VS] */
