#edit-diagnostics-curation legend{
  display: block;
  margin: 5px 10px 10px 0px;
  font-weight: bold;
  text-transform: uppercase;
}
#diagnostic-curation-results {
  max-height: 500px;
  overflow-y: auto;
}

.button-compare-accession-tree-ids-vs-vcf-tree-ids {
  clear: right;
}

.cd-inline {
  display: inline-block;
}
.cd-inline-round-blue {
  display: inline-block;
  background-color: #00a5ff;
  color: white;
  padding: 3px;
  margin-top: 3px;
  margin-right: 3px;
  border-radius: 5px;
  width: 150px;
}
.cd-inline-round-red {
  display: inline-block;
  background-color: red;
  color: white;
  padding: 3px;
  margin-top: 3px;
  margin-right: 3px;
  border-radius: 5px;
  width: 150px;
}

