.form-type-radios figure {
  display: inline-block;
  margin-top: 20px;
  width: 50%;
  padding-left: 10%;
  padding-right: 10%;
}

.tag-admin-container {
  border: 1px solid #dfdfdf;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 48%; 
}

.tag-admin-container * {
  display: block;
  width: 100%;
  text-align: center;
}

figcaption {
  text-align: center;
}
label figure {
  display: inline-block;
  width: 50%;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 20px;
  text-align: center;
}
#landing-buttons {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
#edit-tree-accession figure {
  width: 100%;
}
div#autocomplete {
  width: max-content !important;
}
table {
  border: 1px solid #b5e0ba;
  background: #ffffff;
  width: 100%;
}
thead th {
  background: #ffffff;
  border-top: 0px solid #000000 !important;
  padding: 10px;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
tbody tr td {
  padding: 3px;
  border-top: 1px solid #dedede;
}
th > div.form-type-select > .ajax-progress {
  display: none;
}
.form-item > label {
  display: inline-block;
}
.form-type-textfield,
.form-type-select,
.form-managed-file,
.form-type-checkbox,
.form-type-radios {
  text-align: right;
}
.form-item {
  margin-bottom: 5px;
}
.form-type-managed-file,
.form-type-radios {
  border-top: 1px solid #b5e0ba;
  border-bottom: 1px solid #b5e0ba;
}
.form-type-managed-file {
  padding: 10px 20px 0px;
}
.form-managed-file {
  text-align: right;
}
.form-managed-file > fieldset {
  margin-top: 20px;
  margin-bottom: 10px;
}
.hide-me {
  display: none !important;
}
.tag {
  display: inline-flex;
  border: 1px solid;
  border-radius: 0.75rem;
  margin-top: 4px;
  margin-right: 4px;
}
#tpps-tags-filter {
  margin-bottom: .5rem;
}
#tpps-tags-filter > .tag:hover {
  cursor: pointer;
}
.tag-text {
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
}
.tag-close {
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .125rem;
}
.tag-close:hover {
  cursor: pointer;
}
.add-tag:hover {
  cursor: pointer;
}
#tpps_table_display,
.tpps_table {
  background: #ffffff;
  border: 1px solid #b5e0ba;
  border-radius: 4px;
  padding: 0px 10px;
  margin-bottom: 20px;
}
#tpps_table_display td,
.tpps_table td {
  padding: 10px;
}
#tpps-details-form {
  margin: 10px 0px;
}
#tpps-details-form > div {
  display: inline-block;
}
#tpps-main input.btn {
  margin-top: 5px;
}

div.media-widget.form-media a.browse {
  background-color: #e2b448;
    border-radius: 3px;
    font-size: 14px;
    color: white;
    padding: 10px 15px;
}

/* Highlight active button when using TAB key to switch. */
.btn:focus:focus-visible {
  outline: black solid 2px;
}
