/**
 * @file
 *
 * Rachel Wolther theme for TPPSc.
 *
 * Description: Light with more space between elements, bigger form fields,
 * green buttons, fieldsets have lines on left side.
 * Navigation bar moved inside form.
 *
 *
 * Colors:
 *
 * Normal button: #5a7736 // Green
 * Active button: #3b413b // Dark Gray.
 * Field's border: #bebebe  // Lightest grey (very like "silver").
 *   https://www.color-hex.com/color/bebebe
 */

/**
 * To have ability to see nested elements.
 * Note: form#tppsc-main--2 appears when validation failed.
 **/
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* Form */
.tppsc-form {
  padding: 20px;
  /*font-size: 16px;*/
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #bebebe;
  color: black;
}
form.tpps-submission  .form-item,
form.tpps-admin-panel .form-item,
form.tppsc-form       .form-item {
  text-align: left;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* Fields */
form.tpps-submission  select,
form.tpps-admin-panel select,
form.tppsc-form       select {
  border-radius: 10px;
  padding: 12px 20px;
  border: 2px solid #bebebe;
  background: white;
  max-width: 100%;
  height: auto;
  min-width: 100px;
  font-size: 16px
}

/* Managed file dropdowns are too huge and require custom styles */
form.tppsc-form .form-managed-file select {
  border-radius: 7px;
  padding: 0;
  font-size: 12px
}
form.tppsc-form .form-managed-file div.form-item {
  margin: 0;
}


/* TPPS Submission Forms */
form.tpps-submission input,
form.tpps-submission textarea,
/* TPPS Admin Panel */
form.tpps-admin-panel input,
form.tpps-admin-panel textarea,
/* TPPSc Form */
form.tppsc-form input,
form.tppsc-form textarea {
  padding: 12px;
  border-radius: none;
  /* Light grey */
  border: 2px solid #bebebe;
  max-width: 100%;
  font-size: 16px;
  height: auto;
}
form.tpps-submission  .form-item label,
form.tpps-admin-panel .form-item label,
form.tppsc-form       .form-item label {
  font-size: 16px;
}
form.tpps-submission  div.form-item,
form.tpps-admin-panel div.form-item,
form.tppsc-form       div.form-item {
  margin: 30px 0;
}

/* @todo Remove when CSS Injector rule #18 will be removed. */
form.tpps-submission  .fieldset-wrapper>.form-item,
form.tpps-admin-panel .fieldset-wrapper>.form-item,
form.tppsc-form       .fieldset-wrapper>.form-item {
  border-bottom: none;
}
/* Hide bar at the bottom of textarea */
form.tpps-submission  .resizable-textarea div.grippie,
form.tpps-admin-panel .resizable-textarea div.grippie,
form.tppsc-form       .resizable-textarea div.grippie {
  display: none;
}
/* TPPS Submission Forms */
form.tpps-submission textarea.error,
form.tpps-submission select.error,
form.tpps-submission input.error,

form.tpps-admin-panel textarea.error,
form.tpps-admin-panel select.error,
form.tpps-admin-panel input.error,
/* TPPSc Form */
.tppsc-form textarea.error,
.tppsc-form select.error,
.tppsc-form input.error {
  border: 2px solid red;
}
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* Fieldsets */
form.tpps-submission  fieldset.form-wrapper,
form.tpps-admin-panel fieldset.form-wrapper,
form.tppsc-form       fieldset.form-wrapper {
  /* Dark grey */
  border-left: 3px solid #6b706b;
  margin: 20px 0 0 20px !important;
  padding: 0 20px;
}
form.tpps-submission  fieldset.form-wrapper legend,
form.tpps-admin-panel fieldset.form-wrapper legend,
form.tppsc-form       fieldset.form-wrapper legend {
  /* !important is required to overwrite css-injector rules */
  border: none !important;
  color: black !important;
  padding: 0 10px !important;
}
form.tpps-submission  fieldset.form-wrapper legend span,
form.tpps-admin-panel fieldset.form-wrapper legend span,
form.tppsc-form       fieldset.form-wrapper legend span {
  padding-left: 10px;
  line-height: normal;
}
/* Fixed not collapsible fieldset's label */
form.tpps-submission  fieldset legend span.fieldset-legend,
form.tpps-admin-panel fieldset legend span.fieldset-legend,
form.tppsc-form       fieldset legend span.fieldset-legend {
  padding-left: 12px;
  font-size: 16px;
  /*text-transform: uppercase;*/
  font-weight: 600;
  color: #555;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* Fieldset with buttons */
.tpps-admin-panel fieldset#edit-header,
.tppsc-form       fieldset#edit-header,
.tppsc-form       fieldset#edit-footer {
  border: none;
  margin: 0;
  padding: 20px;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* Huge Rounded Buttons */
form.tpps-admin-panel .form-submit,
form.tpps-submission  .form-submit,
form.tppsc-form       .form-submit {
  height: 60px;
  background: #5a7736;
  color: white;
  min-width: 200px;
  padding: 18px;
  margin: 10px 20px 10px 0;;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: none;
}
/* Rectangular Buttons */
form.tpps-submission   .form-button,
form.tpps-admin-panel  .form-button,
form.tppsc-form        .form-button,
form.tpps-admin-panel  .form-submit,
body.page-completed-submission .form-button {
  min-height: 32px;
  height: 40px;
  padding: 10px;
  font-size: 13px;
  font-weight: normal;
  margin: 5px 10px 5px 0;;
  background: #5a7736;
  color: white;
  min-width: 200px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  text-transform: uppercase;
  text-align: center;
}

form.tpps-submission  a.form-submit,
form.tpps-submission  a.form-button,

form.tpps-admin-panel a.form-submit,
form.tpps-admin-panel a.form-button,

form.tppsc-form       a.form-submit,
form.tppsc-form       a.form-button {
  display: inline;
  padding: 20px 50px;
}
form.tpps-submission  .form-submit:hover,
form.tpps-submission  .form-button:hover,
form.tpps-submission  .form-submit:focus,
form.tpps-submission  .form-button:focus,
/* TPPS Submission */
form.tpps-admin-panel .form-submit:hover,
form.tpps-admin-panel .form-button:hover,
form.tpps-admin-panel .form-submit:focus,
form.tpps-admin-panel .form-button:focus,
/* TPPSc Form */
form.tppsc-form       .form-submit:hover,
form.tppsc-form       .form-button:hover,
form.tppsc-form       .form-submit:focus,
form.tppsc-form       .form-button:focus {
  background-color: #3b413b;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: * /
/* Start of TPPS Navigation Bar */
.tppsc-form .navigation-bar .stage {
  /* Light Gray */
  color: #c9c9c9;
}
.tppsc-form .navigation-bar .stage:active {
  /* Dark Gray */
  color: #3b413b;
}
/* End of TPPS Status Bar */

#autocomplete li:hover {
  background: #5a7736; /* Green as buttons */
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: * /
/* Regular forms fixes */
html.js form fieldset.form-wrapper {
  /* Fix fieldset jump on collapse */
  margin-top: 20px !important;
  padding: 10px !important;
}
/* Fix arrows at the left */
form fieldset legend span.fieldset-legend {
  padding-left: 10px;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: * /
/* Tables */
/* Fix missing outer border */
table {
  /* Light Green */
  border: 1px solid #b5e0ba;
  width: 100%;
}
table thead tr th {
  border: 1px solid #bebebe;
  background: #c9c9c9;
  padding: 10px;
}
/* Fix missing colors for odd/even rows */
tr.even {
  border: 1px solid #bebebe;
  background: #f3f4ee;
}
tr.odd {
  border: 1px solid #bebebe;
  background: #fff;
}
.tpps-form .form-type-managed-file,
.tppsc-form .form-type-managed-file,
.tpps-form  .form-type-radios,
.tppsc-form .form-type-radios {
  border-top: none;
  border-bottom: none;
}
