.cmap-header {
  font-size: 18px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.speciesBox {
  background-color: #daeace;
  padding-left: 10px;
  border: 1px solid #323F37;
  border-radius: 3px;
  margin-top: 15px;
}
.studyTable {
  border-collapse: separate;
  border-spacing: 5px 0px;
}
.keyTD {
  width: 150px;
  align: right;
  vertical-align: top;
}

form#cmap-form,
.filterForm {
  float: left;
  display: inline;
}
.resetForm {
  float: right;
  display: inline;
  border: none;
}
