/* Text in the header */
.cmap-header {
  font-size: 18px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* Filter form */
form#cmap-form {
  /* Adds white background. */
  float: left;
}
form#cmap-form div.form-item-id {
  float: left;
  display: inline-block;
  max-width: 530px;
  margin: 0 0 10px 0;
}

form#cmap-form select#edit-id {
  max-width: 100%;
  width: 100%;
  padding-right: 14px;
  height: 31px;
}
form#cmap-form div#edit-actions {
  display: inline-block;
  float: right;
  margin-bottom: 10px;
  margin-left: 10px;
}
form#cmap-form div#edit-actions input#edit-reset {
  margin-right: 0;
}
form#cmap-form div#edit-content {
  clear: both;
  margin-top: 10px;
}

/* Content */
.speciesBox {
  background-color: #daeace;
  padding-left: 10px;
  border: 1px solid #323F37;
  border-radius: 3px;
  margin-top: 15px;
}
.studyTable {
  border-collapse: separate;
  border-spacing: 5px 0px;
}
.keyTD {
  width: 150px;
  align: right;
  vertical-align: top;
}
